@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Open+Sans:ital,wght@0,400;1,300&family=Yellowtail&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  background-color: #05386B;
}
/*------------------Header------------------------*/
.heading {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #edf5e1;;
}

.heading__title {
  font-family: 'Exo', sans-serif;
  font-size: 5vw;
  letter-spacing: 5px;
  cursor: default;
  user-select: none;
}

.heading__slogan {
  font-size: 3.5vw;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 2px;
  cursor: default;
  user-select: none;

}


/*-------------------------main---------------------*/
.application {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 80%;
  border-radius: 10px;
  color: #504224;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.application__title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 4vw;
  letter-spacing: 5px;
  font-style: italic;
  background-color: #FFD097;
  width: 100%;
  border-radius: 10px 10px 0 0;
  user-select: none;
  padding: 20px 0;
  margin: 0;
}


.user {
  padding: 0 15vw 50px 5vw;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px 4vw;
}
.user__name, .user__sex, .user__birthdate, .user__contact, .user__status {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px 50px;
  gap: 0 1vw ;
}

.required::after {
  position: absolute;
  margin-left:3px;
  content:' *';
  color: red;
  font-size: 10px;

}
.user__heading {
  grid-column: 1 / 3;
  font-size: 18px;
}

.user__input-label {
  font-size: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


input[type=text], input[type=date], input[type=tel], input[type=email], select{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
  height: 30px;

}

input:focus {
  background-color: #FFFFE0;
  outline: none;
}

.user__radio-options {
  display: flex;
  align-items: flex-start;
  gap: 1vw;
}

.user__radio-option {
  display: flex;
}

.user__birthdate > .user__input-label {
  grid-column: 1 / 3;
}

.user__reason textarea {
  width: 100%;
}
.address__inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.user__marketing select {
  width: 100%;
  font-size: 0.5em;
}
 /*---------------------student card preview-------------*/
#card-preview {
  position: relative;
  grid-column: 1 / 3;
  margin: 0 auto;
  color: #fff;
  background-image: linear-gradient(rgb(0, 153, 102), #05386B );
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  letter-spacing: 5px;
  cursor: default;
  user-select: none;
  padding: 30px;
  box-shadow: 2px 2px 5px #696969;
  width: 450px;
  height: fit-content;
  box-sizing: border-box;
}

.preview {
  position: absolute;
  top: 2%;
  right: 4%;
}

#card-preview h1 {
  margin: 0;
}
#card-preview h2 {
  margin-bottom: 12px;
  letter-spacing: 1px;
}

#card-preview ul {
  list-style-type: none;
  font-size: 0.9em;
}

#card-preview li {
  margin-top: 6px;
}

@media screen and (max-width: 700px) {
  #card-preview {
    width: 80%;
    font-size: 0.6em;
  }
}


/*----------------------------------*/

.agreement {
  grid-column: 1 / 3;
}

#agreement {
  width: 12px
}
.submit {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
}

#submit-btn {
  width: 20vw;
  height: 30px;
  border: 1px solid #504224;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 5px;
  background-color: #05386B;
  box-shadow: 2px 2px 3px #696969;

}

#submit-btn:hover {
  color: #05386B;
  background-color: #fff;
}


@media screen and (max-width: 700px) {
  .application {
    width: 90%;
  }

  .user {
    padding: 0 5vw 50px 5vw;
    display: flex;
    flex-direction: column;
  }
  
}